* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 50px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(185, 184, 184, 0.548);
  width: 90%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li .carrito {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}

header nav ul li .carrito i {
  color: #fff;
}

header nav ul li .lista-carrito {
  position: absolute;
  right: 5%;
  top: 10%;
  background-color: #252525;
  border: 1px solid black;
  width: 500px;
  max-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul li .lista-carrito .articulo {
  width: 100%;
  color: honeydew;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

header nav ul li .lista-carrito .articulo .art-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li .lista-carrito .articulo .art-info i {
  cursor: pointer;
}

header nav ul li .lista-carrito img {
  width: 60px;
  height: 60px;
}

header nav ul li .off {
  display: none;
}

header nav ul li .btn-carro {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: solid 1px #ffff;
  color: #fff;
  background-color: transparent;
}

main .grilla-principal {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
}

main .grilla-principal .card-producto {
  max-width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

main .grilla-principal .card-producto img {
  width: 300px;
}

main .grilla-principal .content-prod .prod-info {
  border-bottom: 1px solid rgba(185, 184, 184, 0.548);
  border-left: 1px solid rgba(185, 184, 184, 0.548);
  border-right: 1px solid rgba(185, 184, 184, 0.548);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .grilla-principal .content-prod .prod-info .agregar-carrito {
  margin-top: 15px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}

main .grilla-principal .content-prod .prod-info .red {
  color: red;
}

main .grilla-principal .content-prod .prod-info i {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */